.FooterContainer {
	height: 300px;
	width: 100%;
	position: relative;
	background-color: #fff;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.QuoteIcon {
	position: absolute;
	transform: translate(-50%, -50%);
	top: 50%;
	left: 15%;
	color: rgba(0, 0, 0, 0.2);
	font-size: 4rem;
}

.FooterContainer span {
	max-width: 60%;
	font-size: 1.3rem;
}

.FooterContainer p {
	position: absolute;
	bottom: 10px;
	text-align: center;
	font-size: 0.9rem;
	vertical-align: bottom;
}

.vercelLogo {
}

.portfolioLink {
	text-decoration: underline;
}

.mongoLogo {
	color: #4db33d;
}

@media only screen and (max-width: 480px) {
	.FooterContainer {
		height: 480px;
	}
}
