.nav {
	background-color: #3f3f3f;
	color: #fff;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 40px;
	white-space: nowrap;
}

.nav ul {
	padding: 0;
	margin: 0;
	flex: 1;
	display: flex;
	align-items: center;
}

.leftSection {
	justify-content: flex-start;
}

.leftSection li {
	display: flex;
	justify-content: center;
	align-items: center;
}

.midSection {
	justify-content: center;
}

.rightSection {
	justify-content: flex-end;
	margin-right: 40px;
}

.rightSection li {
	background-color: rgba(0, 0, 0, 0.4);
	height: 50px;
	width: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50% 50%;
	position: relative;
	transition: all 0.2s ease-in;
	cursor: pointer;
}

.rightSection li:hover {
	background-color: rgba(0, 0, 0, 0.6);
}

.rightSection li:focus {
	background-color: rgba(0, 0, 0, 0.6);
}

.CartIcon {
	font-size: 1.5rem;
	position: absolute;
	transform: translate(-50%, -50%);
	top: 50%;
	left: 50%;
}

.nav ul li {
	display: inline-block;
	padding: 10px;
}

.nav ul li a {
	padding: 10px;
}

.searchInput {
	background-color: rgba(255, 255, 255, 0.5);
	border-radius: 8px;
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
}

.searchInput .searchInputIcon {
	color: #000;
	margin: 0 10px;
	cursor: pointer;
	transition: all 0.2s ease-in;
}

.searchInput .searchInputIcon:hover {
	margin: 0 4px 0 16px;
}

.searchInput input[type='search'] {
	background-color: rgba(255, 255, 255, 0.2);
	border: 0px solid #fff;
	padding: 8px;
	width: 200px;
	transition: all 0.2s ease-in;
}

.searchInput input[type='search']:hover {
	background-color: rgba(255, 255, 255, 1);
}

.searchInput input[type='search']:focus {
	background-color: rgba(255, 255, 255, 1);
}

@media only screen and (max-width: 480px) {
	.midSection {
		display: none !important;
	}

	.rightSection li {
		background-color: rgba(0, 0, 0, 0.4);
		height: 40px;
		width: 40px;
	}
}
